<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>甜蜜蜜cake后台管理系统</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/assets/css/bootstrap.css}" rel="stylesheet">
    <!--external css-->
    <link th:href="@{/assets/font-awesome/css/font-awesome.css}" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link th:href="@{/assets/css/style.css}" rel="stylesheet">
    <link th:href="@{/assets/css/style-responsive.css}" rel="stylesheet">

    <link th:href="@{/assets/css/table-responsive.css}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js} IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js}/1.4.2/respond.min.js}"></script>
    <![endif]-->
</head>

<body>

<section id="container" >
    <!--header start-->
    <div  th:replace="common/header::header"></div>
    <!--header end-->

    <!--sidebar(menu) start-->
    <div  th:replace="common/left::left"></div>
    <!--sidebar(menu) end-->
    <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <h3> 员工管理</h3>
            <div class="col-md-12">
                <div class="content-panel">
                  <a th:href="@{/admin/add}" class="bth bg-success btn-sm">添加用户</a>
                    <hr>
                    <div class="form-panel">

                        <form th:action="@{/admin/admin}" class="form-inline" role="form">
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputEmail2">用户名</label>
                                <input type="text" name="admin_name"  class="form-control" id="exampleInputEmail2" placeholder="用户名" th:value="${search_admin_name}">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputPassword2">昵称</label>
                                <input type="text" name="admin_nickname"  class="form-control" id="exampleInputPassword2" placeholder="昵称" th:value="${search_admin_nickname}">
                            </div>
                            <button type="submit" class="btn btn-theme">搜索</button>
                            <a th:href="@{/admin/download}" type="submit" class="btn btn-warning">下载搜寻到的员工信息</a>
                        </form>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>用户名</th>
                            <th>昵称</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="a:${adminList}">
                            <td th:text="${a.admin_id}">1</td>
                            <td th:text="${a.admin_name}">Mark</td>
                            <td th:text="${a.admin_nickname}">Otto</td>
                            <td>

                                <a th:href="@{/admin/update(id=${a.admin_id})}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                                <a th:href="@{/admin/delete(id=${a.admin_id})}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></a>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div><!-- --/content-panel ---->
            </div>
        </section><! --/wrapper -->
    </section><!-- /MAIN CONTENT -->

    <!--main content end-->
    <!--footer start-->
    <div  th:replace="common/footer::footer"></div>
    <!--footer end-->
</section>

<!-- js placed at the end of the document so the pages load faster -->
<script th:src="@{/assets/js/jquery.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script class="include" type="text/javascript" th:src="@{/assets/js/jquery.dcjqaccordion.2.7.js}"></script>
<script th:src="@{/assets/js/jquery.scrollTo.min.js}"></script>
<script th:src="@{/assets/js/jquery.nicescroll.js}" type="text/javascript"></script>


<!--common script for all pages-->
<script th:src="@{/assets/js/common-scripts.js}"></script>

<!--script for this page-->


</body>
</html>
