<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8"/>
<title>后台登录</title>
<meta name="author" content="DeathGhost" />
<link rel="stylesheet" type="text/css" th:href="@{/css/loginstyle.css}" />
<style>
body{height:100%;background:#16a085;overflow:hidden;}
canvas{z-index:-1;position:absolute;}
</style>
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/verificationNumbers.js}"></script>
<script th:src="@{/js/Particleground.js}"></script>
<script>
$(document).ready(function() {
  //粒子背景特效
  $('body').particleground({
    dotColor: '#5cbdaa',
    lineColor: '#5cbdaa'
  });
  //验证码
  createCode();
  //测试提交，对接程序删除即可
  $(".submit_btn").click(function(){
	  location.href="index.html";
	  });
});
</script>
</head>
<body>
<form th:action="@{/admin/dologin}" method="post">
<dl class="admin_login">
 <dt>
  <strong>甜蜜蜜cake后台管理系统</strong>
  <em>TMM Management System</em>
 </dt>
 <dd class="user_icon">
  <input type="text" placeholder="账号" name="username" class="login_txtbx"/>
 </dd>
 <dd class="pwd_icon">
  <input type="password" placeholder="密码" name="password" class="login_txtbx"/>
 </dd>

 <dd>
  <input type="submit" value="立即登陆" class="submit_btn"/>
 </dd>
 <dd>
  <p>© 2020 学掌门 版权所有</p>
  <p>沪xxx</p>
 </dd>
</dl>
</form>
</body>
</html>
